<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Họ Tên</th>
        <th>Email</th>
        <th>SĐT</th>
        <th>Facebook</th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td>
            <%= link_to friend.full_name, friend, class:"link-offset-2 link-underline link-underline-opacity-0 text-dark" %>
          </td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.facebook %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
